@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');

* {
 margin: 0;
  padding: 0;
   box-sizing: border-box;
    text-decoration: none;
     list-style: none;
}

body{
 font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
     margin: 0 auto;
}

.header{
    background-image:url(../imagenes/bg.jpg);
     background-position: center center;
      background-repeat: no-repeat;
       background-size: cover;
        display: flex;
         position: relative;
          min-height: 12vh;
           align-items: center;
}

.menu{
    position: absolute;
     top: 0;
      left: 0;
       right: 0;
        display: flex;
         align-items: center;
          justify-content: space-between;
}

.logo{
    color: #FFFFFF;
     font-size: 25px;
      font-weight: bold;
}

.menu .navbar ul li{
    position: relative;
     float: left;
}

.menu .navbar ul li a{
     font-size: 18px;
      padding: 20px;
       color: #FFFFFF;
        display: block;
         font-weight: bold;
}

.menu .navbar ul li a:hover{
  color: #266371;
}

.icons{
  display: flex;
}

.icon i{
    font-size: 25px;
     color: #FFFFFF;
      margin-right: 15px;
       cursor: pointer;
}

.icons i:hover{
    color: #266371;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
     display: none;
}


/* Estilos para el encabezado */
.header {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  /* Estilos para el menú de navegación */
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ff9800; /* Color de resaltado al pasar el cursor */
  }


   /*INICIO ESTILOS SECCION PAQUETES */


   .package{
    background-color: rgba(163, 153, 43, 0.185);
    padding: 50px 0;
    text-align: center;
   }


   .section-subtitle{  /* subtitulo */
    margin-bottom: 15px ;
    text-align: center;
    margin: 20px 0;
    padding: 10px; 
    font-family: Arial, sans-serif; 
    font-size: 55px;

   }

   .section-title{ /*titulo */
    margin-bottom: 23px;
    text-align: center;
    margin: 20px 0;
    padding: 10px; 
    font-family: Arial, sans-serif; 
    font-size: 65px;
   }

   .section-text{ /*texto */
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.6rem;
   }

   .package-list { 
    background-color: moccasin;
    margin-bottom: 50px; 
}

  .package-list > li:not(:last-child){ 
    margin-bottom: 40px; 
    background-color: aqua;
}

  .package-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }

  .package-card .card-banner{ 
    height: 100%; 
    background-color: darkgrey;
}

  .package-card .card-content { 
    background-color: azure;
    padding: 40px; 
}

  .package-card .card-price {
    display: grid;
    place-content: center;
    background-color: aqua;
  }

  .price{
    margin-bottom: 15px;
    font-family: Arial, sans-serif; 
    font-size: 25px;
    text-align: center;
    background-color: #97826385 ;
  }

  .package-card .card-price .wrapper { 
    text-align: center;
    margin-bottom: 15px;
    background-color: hotpink;
}

 .footer-1{
  background-color: rgba(250, 235, 215, 0.501);
  color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}